.header {
    display: flex;
    justify-content: space-around;
}

.header-title {
    font-size: 32px;
    color: #777777;
}

.dice-roller {
    display: flex;
    align-items: center;
    gap: 12px;
}

.button-dice {
    background-color: black;
    color: white;
}

.dice-content {
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 12px;
}

.dice-content-box {
    padding:6px;
    border:2px black solid;
    width:24px;
    height:24px;
    display:flex;
    justify-content:center;
    align-items:center;
}
